server:
  port: 8000

spring:
  application:
    name: gateway-service

  cloud:
    gateway:
      default-filters:
        - TokenRelay  # 클라이언트가 보낸 인증 토큰(JWT)을 낚아채서, 뒤단에 있는 마이크로서비스(product-service, admin-service)에게 그대로 전달(Relay)합니다.
      routes:
        - id: product-route
          uri: lb://product-service
          predicates:
            - Path=/products/**
        - id: admin-route
          uri: lb://admin-service
          predicates:
            - Path=/admin/**
  
  security:
    oauth2:
      resourceserver:
        jwt:
          # 1. Issuer URI (발급자 확인)
          # 이 토큰이 msa-shop Realm에서 만든 게 맞는지를 검증합니다.
          # 토큰 내부의 'iss' (Issuer) 필드 값이 이 주소와 일치하는지 확인합니다.
          issuer-uri: http://localhost:8080/realms/msa-shop
          
          # 2. JWK Set URI (서명 검증용 공개키 위치)
          # 토큰의 서명이 위조되지 않았는지 확인하는 방법 -> Keycloak의 공개키를 가져와서 확인합니다.
          # Gateway는 이 주소로 요청을 보내 Keycloak이 현재 사용 중인 공개키 목록(JSON Web Key Set)을 로딩합니다.
          # 로딩된 공개키로 JWT의 서명(Signature)을 복호화하여 위변조 여부를 수학적으로 검증합니다.
          # 처음에 jwk-set-uri를 통해 공개키를 받아와서 캐싱(저장)해 둡니다. 그 이후 요청부터는 캐싱된 공개키를 이용해 Keycloak 서버 없이 Gateway 혼자서 검증합니다.
          jwk-set-uri: http://localhost:8080/realms/msa-shop/protocol/openid-connect/certs

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/